<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>/OldSchoolCool Posts</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" defer></script>
    <script src="/js/handlebars.js" defer></script>
    <script type="text/javascript" src="/js/main.js" defer></script>
  </head>
  <body>
    <% include ../partials/nav %>
    <div id="results"></div>
    <!--handlebar template-->
    <script id="search-results-template" type="text/x-handlebars-template">
       {{#each data.children}}
         <div class="result-item">
           <h3>Title: {{ data.title }}</h3>
           <p>Posted by: {{ data.author }}</p>
           <img src="{{ data.preview.images.[0].source.url }}" alt="{{data.title}}" width="400">
           <br />
           <form action="/posts" method="POST">
             <input type="hidden" name="post[title]" value="{{ data.title }}" />
             <input type="hidden" name="post[image_url]" value="{{ data.preview.images.[0].source.url }}" />
             <input type="hidden" name="post[author]" value="{{ data.author }}" />
             <input type="hidden" name="post[user_id]" value="1" />
             <input type="submit" value="Save Post">
           </form>
        </div>
      {{/each}}
    </script>

  </body>
</html>
