<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>/OldSchoolCool Posts</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" defer></script>
    <script src="/js/handlebars.js" defer></script>
    <script type="text/javascript" src="/js/main.js" defer></script>
  </head>
  <body>
    <h1>/OldSchoolCool</h1>
    <ul id="results"></ul>
    <!--handlebar template-->
    <script id="search-results-template" type="text/x-handlebars-template">
       {{#each data}}
         <div class="result-item">
           <h3>TITLE: {{ data.children.0.data.title }}</h3>
           <p>by: {{ data.children.0.data.author }}</p>

           <br />
           <form action="/posts" method="POST">
             <input type="hidden" name="post[title]" value=""<br>
             <input type="hidden" name="post[image_url]" value=""<br>
             <input type="hidden" name="post[author]" value=""<br>
             <input type="submit" value="Save Post">
           </form>
        </div>
      {{/each}}
    </script>

  </body>
</html>
